Package: com.hamza.igdemo
Name: IG Demo porcentajes
Version: 0.0.3
Architecture: iphoneos-arm
Description: Demo para clase - modifica los porcentajes de audiencia que muestra Instagram
Maintainer: hamza
Author: hamza
Section: Tweaks
